/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply styles to the top navigation bar */
.top-nav {
  background-color: #333;
  height: 40px;
}

.top-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.top-nav li {
  width: 20%;
  text-align: center;
}

.top-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 40px;
}

/* Add a color to the active/current link */
.active {
  background-color: #04AA6D;
  color: white;
}

.top-nav a:hover {
  background-color: #90bffc;
}

/* Style the centered image */
.center-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}


/* under it start of mappool and timetable */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.banner{
  height: 40px;
  width: 120px;
}

.nm {
  background-color: rgb(205, 221, 255);
}

.hd {
  background-color: rgb(249, 255, 192);
}

.hr {
  background-color: rgb(255, 205, 205);
}

.dt {
  background-color: rgb(224, 193, 250);
}

.fm {
  background-color: rgb(255, 225, 205);
}

.tb {
  background-color: rgb(255, 205, 238);
}

.links {
  text-align: center;
  }

.links img {
    display: block;
    margin: auto;
}  

.top-icon {
  background-color: #04AA6D;
  color: white;
  height: 50px;
  width: 120px;
  text-align: center;
  position: fixed;
  top: 7.1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-link-discord {
  margin-top: 8px;
  left: 8px;
  position: fixed;
}

.top-link-challonge {
  margin-top: -16px;
  right: 8px;
  position: fixed;
}