/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Aller Bold';
  src: url('font/aller/Aller_Bd.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Aller';
  src: url('font/aller/Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.top-nav {
  background-color: #333;
  height: 45px;
}

.top-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.top-nav li {
  width: 20%;
  text-align: center;
  font-family: 'Aller', sans-serif;
  font-weight: 500;
  font-size: larger;
}

.top-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 45px;
}

/* Add a color to the active/current link */
.active {
  background-color: #04AA6D;
  color: white;
}

.top-nav a:hover {
  background-color: #90bffc;
}

.datetimer {
  font-family: 'Aller Bold', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  background-color: rgb(197, 157, 235);
  }

/* Style the centered image */
.center-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom right, rgb(197, 157, 235), rgb(233, 233, 91));
}

.column1 {
  float: left;
  width: 30%;
}

.column2{
  float: left;
  width: 40%;
}

.column3{
  float: right;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#icon {
  margin-left: 45%;
  margin-right: 55%;
}

#home{
  font-style: italic;
  font-weight: 800;
  font-size: larger;
}

/*alert/news bar for #home*/

/* Callout box - fixed position at the bottom of the page */
.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

/* Close button */
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}


/* above for home page and setting */


/* under it start of mappool and timetable */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.tableselector {
  font-family: 'Aller', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  position: fixed;
}

.tablecaption {
  font-family: 'Aller Bold', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

.tablecaptionDM {
  font-family: 'Aller Bold', sans-serif;
  color: palevioletred;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.mappooltable {
  width: 100%;
  border-collapse: collapse;
  display: none;
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-style: normal;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.banner{
  height: 40px;
  width: 120px;
}

.nm {
  background-color: rgb(205, 221, 255);
}

.hd {
  background-color: rgb(249, 255, 192);
}

.hr {
  background-color: rgb(255, 205, 205);
}

.dt {
  background-color: rgb(224, 193, 250);
}

.fm {
  background-color: rgb(255, 225, 205);
}

.tb {
  background-color: rgb(255, 205, 238);
}

/* for #links */
.links {
  text-align: center;
  font-family: 'Aller Bold', sans-serif;
  font-weight: normal;
  font-style: normal;
  }

.links img {
    display: block;
    margin: auto;
    height: auto;
    transition: transform 0.3s ease-in-out; 
}  

/* clickable img */
a > img:hover {
  transform: scale(1.1); 
}

a > img{
  display: block;
    margin: auto;
    height: auto;
    transition: transform 0.3s ease-in-out; 
}


.linksInline {
  /*https://stackoverflow.com/questions/38896055/how-to-center-align-a-flexbox-container#:~:text=Use%20margin%3A0px%20auto%3B%20with%20a%20width.%20For%20example%3A.container,display%3Aflex%3B%20flex-wrap%3Awrap%3B%20text-align%3Acenter%3B%20margin%3A0px%20auto%3B%20width%3A%20400px%3B%20%7D*/
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
  font-family: 'Aller Bold', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.linksInline img {
  transition: transform 0.3s ease-in-out;
  margin-right: 10px;
}

.linksInline img:hover {
  transform: scale(1.1); 
}

/* for #rules */
div.rules{
  font-family: 'Aller Bold', sans-serif;
  font-weight: normal;
  font-style: normal;
  

  padding: 2px;
  margin: 12px;
  border: 2px solid #3431d1;


}

.rules h1{
  font-family: 'Aller Bold', sans-serif;
  font-weight: normal;
  font-style: normal;

  text-align: left;
  font-weight: bold;
  font-style: italic;
  color: orange;
}

.rules ol{
  margin: 24px;
}

.rules h3{
  color: #608bc4;
}

/* color style for 90k and open */
#open {
  background-color:#8bf7e5;
  text-align: center;
  font-family: 'Aller Bold', sans-serif;
}

#ninety {
  background-color: #ec96be;
  text-align: center;
  font-family: 'Aller Bold', sans-serif;
}

/* for players card */
.row {
  display:flex;
}

.column {
  flex: 50%;
}

div.card {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #ec96be;

}

/* for open rank color */
div.cardO {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #8bf7e5;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 15px 12px;
  float: right;
  font-size: larger;
  
}

.imgCard{
  width: 35%;
}

